<header class="header">
    <a href="index.html">
        <div class="logo-title">
            <img src="assets/images/logo-explore-sentani.png" alt="Logo Explore Sentani" class="logo">
            <div class="title">
                <h1>Explore Sentani</h1>
                <p>Jelajahi berbagai destinasi wisata di Sentani</p>
            </div>
        </div>
    </a>
    <nav class="nav">
        <ul>
            <li><a href="index.html">Beranda</a></li>
            <li><a href="destinasi.html">Destinasi Wisata</a></li>
            <li><a href="kegiatan-festival.html">Kegiatan & Festival</a></li>
            <li><a href="tentang-kami.html">Tentang Kami</a></li>
            <li><a href="kontak.html">Kontak</a></li>
        </ul>
    </nav>
</header>